@model Cliente


<h1>Modificar Cliente</h1>


<form asp-controller="Clientes" asp-action="Edit" method="post">

    <div class="form-group">
        <label asp-for="IdCliente" class="label-control"></label>
        <input type="text" asp-for="IdCliente" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Nombre" class="label-control"></label>
        <input type="text" asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RFC" class="label-control"></label>
        <input type="text" asp-for="RFC" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Correo" class="label-control"></label>
        <input type="text" asp-for="Correo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Telefono" class="label-control"></label>
        <input type="text" asp-for="Telefono" class="form-control" />
    </div>


    <div class="form-group">
        <a asp-controller="Clientes" asp-action="Index" class="btn btn-secondary">Regresar</a>
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>



</form>